@model Warehouse.Models.Order

@{
	ViewData["Title"] = "ข้อมูลรายการขาย";
}


<div>
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Product)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Product.ProductId)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Date)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Date)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Price)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Price)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Quantity_O)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Quantity_O)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Total_Price)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Total_Price)
		</dd>
	</dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model.OrderId">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>
