@model IEnumerable<Warehouse.Models.Order>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using PagedList.Mvc;
@using System.Web.Mvc;
@{
	ViewData["Title"] = "รายกายขาย";
}

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Product.Product_Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Date)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Price)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Quantity_O)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Total_Price)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Product.Product_Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Date)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Price)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Quantity_O)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Total_Price)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index",
				new
				{
				page = page,
				}),
				new X.PagedList.Mvc.Core.Common.PagedListRenderOptions
				{
					DisplayItemSliceAndTotal = false,
					ContainerDivClasses = new[] { "navigation" },
					LiElementClasses = new[] { "page-item" },
					PageClasses = new[] { "page-link" },

				})